@{
    ViewData["Title"] = "About Joel";
}
<div class="text-center">
    <h1 class="display-4">Get to know Joel</h1><p></p>
    <h4>Here is just a little bit about Joel and his life</h4>

    <div class="joel-facts">
        <h3>Joel Facts:</h3>
        <ul>
            <li>He performs at Quick Wits Comedy regularly. Check Quick Wits Comedy out: <a href="https://www.qwcomedy.com/" target="_blank">https://www.qwcomedy.com/</a></li>
            <p></p>
            <li>Joel also participates in a weekly podcast about films and pop culture. You can find the podcasts on the website <a href="https://baconsale.com/" target="_blank">https://baconsale.com/</a></li>
        </ul>
    </div>

    <div class="joel-image">
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/img/baconsalekate.jpg" height="500" alt="Joel Image">
        </a>
    </div>
</div>

<!--CSS formatting-->
<style>
    .joel-facts {
        text-align: left;
    }

    .joel-image {
        margin-top: 20px;
    }
</style>
