@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom: 20px;">The Joel Hilton Film Collection</h1>
    <img src="~/img/joelhiltonheadshot.jpg" style="max-width: 100%; height: auto; border: 10px solid #000; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); margin-bottom: 20px;" />
    <p>Details about some of the best movies from someone who knows movies</p>
</div>
