@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie

<h1 class="text-center display-4">Movie submission</h1>

<!--Input form for Movie information-->
<form class="text-center" method="post">

    <input type="hidden" asp-for="MovieId"/>

    <!--Category submissions-->
    <div class="form-group row">
        <label asp-for="Category" class="col-sm-3 col-form-label">Category<span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <select asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
        </div>
    </div>

    <!--Title submission-->
    <div class="form-group row">
        <label asp-for="Title" class="col-sm-3 col-form-label">Title<span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <input asp-for="Title" class="form-control" required placeholder="Name of movie">
        </div>
    </div>

    <!--Year submission-->
    <div class="form-group row">
        <label asp-for="Year" class="col-sm-3 col-form-label">Year<span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <input asp-for="Year" class="form-control" required placeholder="Year">
        </div>
    </div>

    <!--Director submission-->
    <div class="form-group row">
        <label asp-for="Director" class="col-sm-3 col-form-label">Director</label>
        <div class="col-sm-9">
            <input asp-for="Director" class="form-control" placeholder="Directors Full Name">
        </div>
    </div>

    <!--Rating dropdown submission-->
    <div class="form-group row">
        <label asp-for="Rating" class="col-sm-3 col-form-label">Rating</label>
        <div class="col-sm-9">
            <select asp-for="Rating" class="form-control" required>
                <option value="" selected disabled>-- Select Rating --</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
    </div>

    <!--Edited dropdown submission-->
    <div class="form-group row">
        <label asp-for="Edited" class="col-sm-3 col-form-label">Edited<span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <select asp-for="Edited" class="form-control" required>
                <option value="" selected disabled>--Edited--</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <!--Lent to submission-->
    <div class="form-group row">
        <label asp-for="LentTo" class="col-sm-3 col-form-label">Lent to</label>
        <div class="col-sm-9">
            <input asp-for="LentTo" class="form-control" placeholder="Enter who you have lent it to">
        </div>
    </div>

    <!--CopiedToPlex dropdown submission-->
    <div class="form-group row">
        <label asp-for="CopiedToPlex" class="col-sm-3 col-form-label">Copied to Plex<span class="text-danger">*</span></label>
        <div class="col-sm-9">
            <select asp-for="CopiedToPlex" class="form-control" required>
                <option value="" selected disabled>--Copied To Plex--</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>

    <!--Notes submission-->
    <div class="form-group row">
        <label asp-for="Notes" class="col-sm-3 col-form-label">Notes</label>
        <div class="col-sm-9">
            <input asp-for="Notes" class="form-control" maxlength="25"/>
        </div>
    </div>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>

    <div asp-validation-summary="All"></div>
</form>
